# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

*.py text
*.ftl text
*.h text
*.c text

# Denote all files that are truly binary and should not be modified.
*.jar -text
*.a -text
*.gif -text
*.png -text
*.jpg -text
*.chm -text
*.html -text
*.css -text 
*.htm -text
*.hhc -text
*.hhk -text
*.hhp -text