@media screen {

	/* WH-1613 */
	.permalink{
	    padding: 0 0.4em;
	    margin:0 0.5em 0 0.5em;
	    opacity: 0.35;
	    transition: opacity .3s;
	    background: url(../img/link-icon.png) no-repeat;
	    background-size: contain;
	    background-position-y: 60%;
	    cursor:pointer
	}
	
	/* WH-1613 */
	.permalink:hover{
	    opacity: 1;
	    cursor:pointer
	}
}