.relatedheading 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #7F7F7F;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6px;
        margin-bottom: 1px;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 4px;
        padding-right: 4px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.relateditem 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: #DFDFDF;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        border-color: #FFFFFF;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #FFFFFF;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading1 
{
        font-style: normal;
        font-variant: normal;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.bodytext 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.superscript 
{display: inline;
        font-size: 6pt;
        color: inherit;
        background-color: inherit;
        vertical-align: super;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.emphasis 
{display: inline;
        font-style: italic;
        color: #000000;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.subheading 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 11pt;
        color: #6F6F6F;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 15pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.graphicwide 
{display: block;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.note 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9pt;
        color: #400000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0cm;
        margin-right: 6pt;
        padding-top: 4pt;
        padding-bottom: 4pt;
        padding-left: 4pt;
        padding-right: 4pt;
        border-color: #DB0029;
        border-top-style: solid;
        border-top-width: 0.3mm;
        border-top-color: #DB0029;
        border-bottom-style: solid;
        border-bottom-width: 0.3mm;
        border-bottom-color: #DB0029;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: 90%;
        height: auto;
        white-space: normal;
       }
.notebold 
{display: inline;
        font-weight: bold;
        font-size: 10pt;
        color: #DB0029;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.procedureheading 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 11pt;
        color: #223D68;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 12pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        border-color: #DFDFDF;
        border-top-style: solid;
        border-top-width: thin;
        border-top-color: #DFDFDF;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #7F7F7F;
        border-left-style: solid;
        border-left-width: thin;
        border-left-color: #DFDFDF;
        border-right-style: solid;
        border-right-width: thin;
        border-right-color: #7F7F7F;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
ul.listbullet 
{list-style-type: Disc;
        list-style-image: none;
        list-style-position: outside;
        margin-top: 3pt;
        margin-bottom: 0pt;
        }
li.listbullet 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 3pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.uiobject 
{display: inline;
        font-weight: bold;
        color: #6F6F6F;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
ul.whereami 
{list-style-type: Square;
        list-style-image: url(GetHere.jpg);
        list-style-position: outside;
        margin-top: 1pt;
        margin-bottom: 6pt;
        }
li.whereami 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 8pt;
        color: #223D68;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 1pt;
        margin-bottom: 6pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.tableheading 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0pt;
        margin-bottom: 2pt;
        margin-left: -2pt;
        margin-right: -2pt;
        padding-top: 6pt;
        padding-bottom: 6pt;
        padding-left: 6pt;
        padding-right: 6pt;
        float: none;
        clear: none;
        text-align: center;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.tablebodytext 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: text-top;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 3pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
ul.tablelistbullet 
{list-style-type: Disc;
        list-style-image: none;
        list-style-position: outside;
        margin-top: 4pt;
        margin-bottom: 0pt;
        }
li.tablelistbullet 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 4pt;
        margin-bottom: 0pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.preformatted 
{display: block;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 6pt;
        margin-right: 6pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.monospace 
{display: inline;
        color: inherit;
        background-color: inherit;
        vertical-align: baseline;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
       }
.tablenote 
{display: block;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 9pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 3pt;
        margin-bottom: 3pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        border-color: #223D68;
        border-top-style: solid;
        border-top-width: thin;
        border-top-color: #223D68;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading2 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 14pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading3 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 12pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading4 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading5 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.heading6 
{
        font-style: italic;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 3pt;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.indexatoz 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #223D68;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 12pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 6pt;
        padding-bottom: 6pt;
        padding-left: 3pt;
        padding-right: 3pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.indexheading 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 14pt;
        color: #004080;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0pt;
        margin-bottom: 0pt;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-top: 12pt;
        padding-bottom: 6pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index1 
{
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 8pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 3pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index2 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 8pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index3 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 8pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.indexlink 
{
        font-style: italic;
        font-variant: normal;
        font-weight: normal;
        font-size: 8pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0pt;
        width: auto;
        height: auto;
        white-space: normal;
       }
.toc 
{
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 6pt;
        width: auto;
        height: auto;
        white-space: normal;
       }

h1.heading1{
	margin-top: 0px;
	margin-bottom: .1em;
	font-size: 18px;
	line-height: 33px;
}
#SearchFrm span{
	font-size:11px;
}
td span a{
}