html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



frame, frameset {
  border-right:1px solid #B7C5D9; 
  margin:0;
  overflow:hidden;
  padding:0;
  width:100%;
}

body
{
  margin:0px;
  padding:0px;
  font-family: Arial, Sans-serif;
  font-size: 12px;
}

a {
	color: #000;
	text-decoration: none;
    line-height: 25px;
}

.tocItem {
	color: #000;
	border: 1px solid transparent;
	border-radius: 2px 2px 2px 2px;
	margin: 2px 0;
	text-shadow: 1px 1px 0 #FFFFFF;
}

.tocItem.highlighted.lostFocus {
	background-color: #DDD;
	border-color: #CFCFCF;
}

.tocItem img {
	padding-top: 3px;
}

.tocItem.highlighted, .tocItem.highlighted:hover{
	background-color: #BED2F0;
	border-color: #94B5E5;
}

.tocItem:hover {
	background-color: #E9F0FA;
	border-color: #BED2F0;
}

table a {
	line-height: 23px;
    margin-left: 10px;
	vertical-align: top;
	padding: 3px;
}

table img {
	vertical-align: middle;
}

.sp  {
	display:none;
}

#headersection
{
	margin:0px;
	height: 38px;
	background-color: #000000;
	color: #FFFFFF;
}

img#logo
{
	position: absolute;
	top: 0;
	left: 0px;
}

#tabnavigation{
	margin-left: 180px;
}

#breadcrumbsection h1 {
	font-size:22px;
	font-weight:bold;
	padding-top: 5px;
	position: fixed;
}

#breadcrumbsection
{
	padding: 10px;
}  


#buttons {
    padding-top: 10px;
    position: absolute;
    right: 12px;
}

#buttons li {
	padding:0px;
	margin:0px;
	margin-left: 10px;
	list-style: none;
	cursor:pointer;
	float:left;
}

#buttons li img{
	border-top: 0px;
	list-style: none;
	cursor:pointer;
	float:left;
}

#buttons li img:hover{
	list-style: none;
	cursor:pointer;
	float:left;
}

#tabnavigation li {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height:20px;
  float: left;
  margin-left: 0px;
  margin-right:0px;
  list-style: none;
  display: block;
    width: 95px;
  
  text-shadow: 0 1px 0 #262C39;
  padding-top: 6px;
  
}


#tabnavigation li.end
{
	margin-right:3px;
	width:0px;
	display:block;
}

#tabnavigation li a {
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
  padding-bottom:0px;
	padding-top:3px;	
	display: block;
}

#tabnavigation li.current {
  border-bottom: 4px solid #ee2223;
}

#tabnavigation li.endcurrent {
	margin-right:3px;
	width:0px;
	display:block;  
}

#tabnavigation li.current a {
	display: block;
}


.framelayout {
	margin: 0px;
	padding: 10px;
	background-color: #fff;
}

/* Index list layout items */
#indexlist
{
  font-style: normal;
	font-variant: normal;
	font-size: 10pt;
	width: 200px;
	display: inline-block;
	float: left;
	margin-left: 5px;
}
.IndexSection
{
	margin-left: 0mm;
	font-weight: bold;
	font-size: 12pt;
}
.PrimaryIndexTerm
{
	margin-left: 5mm;
	font-weight: normal;
	font-size: 10pt;	
}
.PrimaryIndexTerm a,
.PrimaryIndexTerm a:visited
{
	color: #2969CB;
	text-decoration: underline !important;
}
.SecondaryIndexTerm
{
	margin-left: 5mm;
	font-weight: normal;	
	font-size: 10pt;
}
#indexNavigationList
{
	float: top;
}	
.indexNavigationItemAvailable
{
	float:left;
	border: solid 1px #cecece;
	background-color: #d9a600;
	text-align: center;
	width: 20px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 5px;
}
.indexNavigationItemAvailable a,
.indexNavigationItemAvailable a:visited
{
	color: #2969CB;
	text-decoration: underline !important;
}
.indexNavigationItemNotAvailable
{
	float:left;
	border: solid 1px #cecece;
	background-color: #cecece;	
	text-align: center;
	width: 20px;	
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
}
.popupDiv
{
	background-color:#CECECE;
	border:1pt solid black;
	font-size:9pt;
	font-weight:normal;
	padding:2px;
	margin-left: 5px; 
}
.popupDivInner
{
	background-color:#FFFFFF;
	color: #b20000;
	margin-left: 5px; 
	margin-right: 5px;
}

/* Search pane layout items */
#SearchFrm
{
  margin-left: 0px;  
}

#resultlist
{
  font-style: normal;
	font-size: 11px;
	margin-left: 0px;
	margin-top: 10px;
}

#resultlist a,
#resultlist a:visited
{
	text-decoration: underline !important;
}
.resultitem
{
	padding-bottom: 5px;
	border-bottom: solid 1px #CECECE;
}

.resultitem a {
	color: #2969CB;
}

/*General stylesheets for buttons / textboxes*/
input[type="button"], input[type="submit"]  {
	border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-weight: bold;
    height: 27px;
    width: auto;
	box-shadow: 0 1px 0 0 #F4F4F4 inset;
    min-width: 50px;
	font-family: Arial, Sans-serif;
    font-size: 11px;
    margin-bottom: 0px;
    margin-left: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    vertical-align: bottom;
	background-color: #E2E2E2;
    border: 1px solid #AAAAAA;
	color: #262933;
    display: inline-block;
	line-height: 27px;
    text-align: center;
}

input[type="button"]:hover, input[type="submit"]:hover  {
	background-color: #F4F4F4;
	border: 1px solid #454545;
}

input[type="text"] {
	border: 1px solid #9F9F9F;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px #DDD8DC inset;
    height: 25px;
	padding: 0 5px;
	color: #212326 !important;
	font-family: Arial, Sans-serif;
    font-size: 11px;
}

#disclaimer {
	display: table;
	float: left;
	height: 40px;
	width: 60%;
}

#disclaimer-text {
	display: table-cell; 
  	vertical-align: middle; 
	text-align: center;
	font-size: .9em;
}